<div class="noQuestions">
  <img
    src="/assets/no-questions.svg"
    alt="dois balões de conversas vazio"
    title="sem perguntas"
  />
  <h2>Nenhuma pergunta por aqui...</h2>
  <p>
    Faça sua primeira pergunta e envie o código dessa sala para outras pessoas!
  </p>
</div>
